body {
  background-color: white;
  color: black;
}

h1 {
  color: #417905;
}

h2 {
  color: #5db2ca;
}

p {
  color: #5d5b59;
}

h3 {
  color: #fd5604;
}

ul {
  font-color: blue;
  font-style: italic;
  font-weight: lighter;
}
